<div class="mt-4">
    <h3 style="text-align:center;">Order</h3>
    <form class="mt-4" method="POST" action="/order/store">
            <div class="form-group">
                <label for="name">Tên món ăn</label>
                <input type="text" placeholder="Gọi Tên Món Ăn Không Được Quá 5 TỪ" class="form-control" id="name"
                    name="name">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
            </div>
        <div class="wrapper" style="text-align: center">
            <button type="submit" class="btn btn-primary baoanh">Gọi Món</button>
        </div>
    </form>
</div>

