<div class="mt-4"> 
    <center>
<div class="row">
        <h2>{{foods.breakfast.name}}</h2>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{foods.videoId}}"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <button>Chọn Món</button>
</div>

    </center>
</div>