<div class="mt-4">
    <div class="row">   
        <div class="col-lg-3" >
            <form action="/menu">
                <button class="custom-btn btn-1"><span>Xem Các Món Khác</span></button>
            </form>
        </div>
        <div class="col-lg-6" style="text-align:center;">
            <h2>{{listdishes.name}}</h2>
            
           <div class="img-wrapper">
                <img src="http://img.youtube.com/vi/{{listdishes.videoId}}/sddefault.jpg" alt="">
           </div>
        </div>
        <div class="col-lg-3" style="margin-top:45px">
        <p>Description : {{listdishes.description}}</p>
        <p>Price : {{listdishes.price}}VNĐ</p>
        </div>
    </div>
</div>