<div class="mt-4">
    <div class="row" style="height:450px">  
        <div class="col-lg-12" style="text-align: center;margin-top:115px">
        <h1>Thank you for your feedback ^.^</h1>
        <h3>You Will Be Redirected To The HomePage In A Few Seconds</h3>
        </div>
    </div>   
</div>
<script>
    var timer = setTimeout(function () {
        window.location = '/';
    }, 7000);
</script>
