<div class="mt-4">
    <h3 style="text-align:center;">Order</h3>
    <form class="mt-4" method="POST" action="/order/store">
        <div class="row">
        <div class="form-group col-lg-6">
            <label for="name">Tên món ăn</label>
            <input type="text" maxlength="5" placeholder="Gọi Tên Món Ăn Không Được Quá 5 Kí Tự " class="form-control"  id="name" name="name">
        </div>
        <div class="form-group col-lg-6" >
            <label for="email">Email</label>
            <input type="text" class="form-control" id="email" name="email">
        </div>
        </div>
        <div class="form-group">
            <label for="description">Ghi Chú Khi Gọi Món</label>
            <textarea class="form-control" id="description" name="description"></textarea>
        </div>
    <button type="submit" style="text-align: center;margin-left: 455px;" class="btn btn-primary">Gọi Món</button>
    </form>
</div>
