<div class="mt-4">
    <h3 style="text-align:center;">Order</h3>
<<<<<<< HEAD
  <form class="mt-4" method="POST" action="/order/store">  
        <div class="row">
        <div class="form-group col-lg-6">
            <label for="name">Tên món ăn</label>
            <input type="text"  placeholder="Gọi Tên Món Ăn Không Được Quá 5 TỪ" class="form-control"  id="name" name="name">
=======
    <form class="mt-4" method="POST" action="/order/store">
        <div class="form-group">
            <label for="name">Tên món ăn</label>
            <input type="text" class="form-control"  id="name" name="name">
>>>>>>> 9251c6b6f9df69907d18f53c983cfb0daf6b44f2
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email">
        </div>
        <div class="form-group">
            <label for="description">Ghi Chú Khi Gọi Món</label>
            <textarea class="form-control" maxlength="240" id="description" placeholder="Bạn Không Được Ghi Quá 50 Từ" name="description"></textarea>
        </div>
        <div class="wrapper" style="text-align: center">
            <button type="submit" class="btn btn-primary baoanh">Gọi Món</button>
        </div>
    </form>
</div>
